/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #040118;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 2em;
}

/* Main content styling */
main {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

/* Main about section styling */
#about-section {
    padding: 20px;
}


/* Content styling with flexbox */
.content {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile image styling */
.profile-img {
    width: 120px; /* Adjust size as needed */
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px; /* Space between image and text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Text content styling */
.text-content {
    flex: 1; /* Expands to take up remaining space next to the image */
}

/* Button-like link styling */
.button-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #a8cbeb;
    color: #040118;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.button-link:hover {
    color: #fff;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 0.9em;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
